* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  background: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  transition: 0.3s ease;
}
span {
  color: orangered;
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  margin-right: 50px;
  border-bottom: 3px solid transparent;
  transition: 0, 3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: orangered;
  border-bottom: 3px solid orangered;
}

.contact {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
}

.contact:hover {
  background-color: orangered;
  box-shadow: 0 0 25px orangered;
  color: white;
}
#home {
  width: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 7% 0;
}

.img-box img {
  border-radius: 50%;
  width: 400px;
  height: 410px;
  margin: 10px;
}

.portfolio {
  max-width: 800px;
}

.portfolio h2 {
  font-size: 55px;
}
.portfolio h3 {
  font-size: 42px;
}

.portfolio h1 {
  font-size: 63px;
  line-height: 1.2;
}

.portfolio p {
  font-size: 18px;
  margin: 25px 0 30px;
}

.btn-box {
  width: 345px;
  display: flex;
  gap: 2em;
}
.btn-1 {
  padding: 15px 28px;
  background-color: orangered;
  color: black;
  border: 2px solid transparent;
  border-radius: 15px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn-1:hover {
  background-color: white;
  color: orangered;
  border: 2px solid black;
}

.btn-2 {
  padding: 15px 28px;
  background-color: white;
  opacity: 0.5;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-2:hover {
  background-color: black;
  color: white;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 7%;
  gap: 10em;
  background: black;
}
.about-img img {
  position: relative;
  width: 450px;
  box-shadow: 0 0 50px rgb(176, 64, 24), 0 0 10px orangered;
  border-radius: 50%;
}

.about_me h2 {
  text-align: left;
  color: white;
  font-size: 62px;
}

.about_me h3 {
  font-size: 62px;
  color: white;
}
.about_me p {
  color: white;
  font-size: 20px;
  margin: 2em 0 3em;
}

#services {
  color: black;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}

.serv-contain {
  padding: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 20px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  border: black solid;
}

.services-list div h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  color: black;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(255, 123, 0);
  border-radius: 16px;
  color: #081b29;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: 0 0 rgb(255, 149, 0), 0 0 15px rgb(255, 128, 0);
}

.read:hover {
  box-shadow: 0 0 5px orangered, 0 0 25px orangered, 0 0 100px orangered,
    0 0 200px orangered;
}

#experience {
  padding: 10x;
  gap: 10em;
  background: black;
  line-height: 60px;
  padding-bottom: 70px;
}
.sub-title2 {
  text-align: center;
  font-size: 60px;
  padding: 100px 0 25px 0;
  color: white;
}

h3 {
  margin: 3;
}

.pro-contain {
  margin-left: 10px;
  width: 60px auto;
  color: #fff;
  padding: 50px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10p 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgb(247, 0, 0) 0%,
    rgba(236, 0, 140, 1) 100%
  );
}
.html {
  width: 60%;
  animation: html 3s;
}
.css {
  width: 20%;
  animation: html 3s;
}

.python {
  width: 50%;
  animation: html 3s;
}

.java {
  width: 1%;
  animation: html 3s;
}

.pro-contain li {
  margin: 20px 0;
  padding: 10px;
}

.bar {
  background-color: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0, 1px, 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0, 10px, 10px rgba(0, 0, 0, 0.22);
}

#contact h2 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 60px;
}

.contact_me form {
  max-width: 50em;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3em;
}

.contact_me form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact_me form .input-box input,
.contact_me form textarea {
  width: 100%;
  padding: 1.5em;
  font-size: 18px;
  color: black;
  background: rgb(241, 241, 241);
  border-radius: 0.8rem;
  margin: 1rem 0;
  resize: none;
}

.contact_me form textarea {
  height: 20rem;
}

footer {
  background-color: #111;
}

.footercontain {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialicon {
  display: flex;
  justify-content: center;
}

.socialicon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialicon a i {
  font-size: 2em;
  color: black;
  opacity: 0.5s;
}

.socialicon a i:hover {
  color: rgb(247, 0, 0);
  transition: 0.5s;
}

.footerNav {
  margin: 20px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: black;
  text-align: center;
  padding: 20px;
}

.footerBottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 768px) {
  /* Tablet Styles */
  .header {
    padding: 10px 10px;
  }
  .portfolio {
    max-width: 500px;
  }
  #home {
    display: flex;
    align-items: center;
    margin: 10px 5px;
  }

  #home .img-box img {
    width: 200px;
    height: 300px;
    padding-top: 0;
  }

  #home .portfolio h2 {
    padding: 50px 0 0 0;
    font-size: 50px;
  }
  .logo {
    margin-left: 10px;
    display: flex;
  }

  .navbar a {
    font-size: 13px;
    margin-right: 10px;
  }

  .portfolio h2 {
    margin-top: 50px;
    font-size: 40px;
  }

  .portfolio h1 {
    font-size: 60px;
    line-height: 1.2;
  }

  .portfolio p {
    font-size: 20px;
    margin: 10px 0 20px;
  }

  .btn-hire {
    width: 100%;
    display: flex;
    gap: 1em;
    margin: 0 0 20px;
  }

  .btn-1,
  .btn-2 {
    width: 100%;
  }

  .about-img img {
    width: 250px;
  }

  .about_me h2 {
    font-size: 50px;
  }

  .about_me h3 {
    font-size: 45px;
    margin-bottom: 0;
  }

  .about_me p {
    font-size: 17px;
  }

  .services-list {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .services-list div {
    padding: 20px;
    font-size: 14px;
  }

  .services-list div h3 {
    font-size: 20px;
  }

  .sub-title,
  .sub-title2 {
    font-size: 40px;
  }

  .pro-contain {
    width: 100%;
    padding: 20px;
  }

  .bar span {
    height: 15px;
  }

  .pro-contain li {
    margin: 15px 0;
  }

  .bar {
    height: 15px;
  }

  #contact h2 {
    font-size: 50px;
    margin: 50px 0 0 0;
  }

  .contact_me form {
    max-width: 80%;
    padding-left: 15px;
  }

  .contact_me form .input-box input,
  .contact_me form textarea {
    font-size: 16px;
    height: 10px;
  }

  .contact_me form textarea {
    height: 15rem;
  }

  .btn-1 {
    width: 70%;
  }
  .footercontain {
    padding: 50px 20px 10px;
  }

  .socialicon a {
    padding: 8px;
    margin: 20px;
  }

  .socialicon a i {
    font-size: 1.8em;
  }

  .footerNav ul li a {
    font-size: 1em;
    margin: 30px;
  }

  .footerBottom p {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  /* Mobile Styles */

  * {
    width: 100%;
  }
  .header {
    padding: 5px 5px;
  }

  .navbar {
    display: none;
  }

  .logo {
    font-size: 20px;
  }

  .contact {
    font-size: 12px;
    padding: 5px 10px;
  }

  #home {
    flex-direction: column;
    margin: 20px 5px;
    padding: 10%;
  }

  #home .img-box {
    display: flex;
    align-items: center;
  }

  #home .img-box img {
    display: flex;
    align-items: center;
    margin: 10% 0 0 13%;
    height: 300px;
  }
  #home .portfolio h2 {
    font-size: 50px;
    padding: 0 5px;
    margin: 0;
  }

  #home .portfolio h1 {
    padding: 0 10px;
    font-size: 50px;
  }
  #home .portfolio p {
    padding: 0 10px;
    font-size: 25px;
    margin: 10px;
  }

  #home .btn-1 {
    margin-left: 5%;
    font-size: 23px;
    padding: 10px;
    width: 15rem;
    margin-bottom: 10px;
  }

  #home .btn-2 {
    margin-left: 5%;
    font-size: 23px;
    padding: 10px;
    width: 15rem;
    margin-bottom: 10px;
  }

  #about {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  #about .about-img img {
    width: 200px;
    height: 250;
    margin-left: 13%;
    margin-top: 10%;
    margin-bottom: 0;
  }

  #about .about_me h2 {
    font-size: 50px;
    margin-top: 0;
  }

  #about .about_me h3 {
    font-size: 45;
    margin-bottom: 0;
  }

  #about .about_me p {
    font-size: 15px;
  }

  #services {
    flex-direction: column;
    width: 100%;
    line-height: 1;
  }

  #services .sub-title {
    margin: 0;
    font-size: 40px;
    padding-bottom: 30px;
  }

  #services .serv-coontain {
    padding: 0;
    margin: 0;
  }
  #about .services-list {
    grid-template-columns: 1fr;
  }
  #services .services-list div {
    padding: 25px, 90px;
    font-size: 20px;
    margin: 0;
  }

  .services-list div h3 {
    font-size: 30px;
  }

  #experience {
    flex-direction: column;
    width: 100%;
  }

  #experience .sub-title2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }

  #experience h3 {
    margin: 0;
  }

  #experience .pro-contain {
    padding-top: 35px;
  }

  #sexperience .bar span {
    height: 10px;
  }

  #experience .pro-contain li {
    margin: 7px 0;
  }

  #experience .bar {
    height: 10px;
  }

  #contact h2 {
    font-size: 45px;
  }

  #contact .contact_me form {
    max-width: 80%;
    margin: 35px;
  }

  .contact_me form .input-box input,
  .contact_me form textarea {
    font-size: 14px;
    height: 10px;
  }

  .contact_me form textarea {
    height: 10rem;
  }

  .btn-1 {
    width: 10rem;
    height: 3rem;
    font-size: 11px;
    font-weight: 600;
  }

  .footercontain {
    padding: 40px 10px 5px;
  }

  .socialicon a {
    padding: 5px;
    margin: 3px;
    width: 45px;
  }

  .socialicon a i {
    font-size: 1.8em;
    margin: 3px;
  }

  .footerNav ul li a {
    font-size: 0.8em;
    margin: 5px;
  }

  .footerBottom p {
    font-size: 12px;
  }
}
